{{! Remove this line to add static page navigation then edit the links below with your static pages

<ul class="site-nav">
	<li class="site-nav-item"><a href="/static-page-url-here">Static Page Title Here</a></li>
	<li class="site-nav-item"><a href="/about">About</a></li>
</ul>

Remove this line to add static page navigation }}
  
  